$boomers: terry page leon chris brett chantal clive antony emma;

$run-w: 1535;
$run-h: 1241;

$head-w: 1348;
$head-h: 1910;

$santa-w: 1386;
$santa-h: 1713;

@property --bob {
  syntax: "<length>";
  initial-value: 0;
  inherits: false;
}

@keyframes run {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-33.333333%);
  }
  50% {
    transform: translateX(-66.666667%);
  }
  85% {
    transform: translateX(-33.333333%);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-150vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes bob {
  0%, 100% {
    --bob: 1vmin;
  }
  50% {
    --bob: -1vmin;
  }
}

:root {
  --run-ratio: #{$run-h / $run-w};
  --head-ratio: #{$head-h / $head-w};
  --santa-ratio: #{$santa-h / $santa-w};
  --x: 0;
  --y: 0;
  --bob: 0vmin;
}

html, body {
  height: 100%;
  margin: 0;
  background: #3b3452;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  background:
    radial-gradient(circle at 50% 300vh, #040b27 230vh, rgba(#040b27, 0) 50vh),
    radial-gradient(circle farthest-corner at 50% 40vmin, #17142c, #3b3452);
}

.close-head-selects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  pointer-events: none;
}

.santa {
  --width: 30vmin;
  --offset: 5;

  position: absolute;
  left: 50%;

  transform:
    translateX(-50%)
    translate(
      calc(0px - (var(--offset) * 1vw) * var(--x)),
      calc(0px - (var(--offset) * 1vh) * var(--y) + var(--bob) * 2)
    )
  ;
  width: var(--width);
  height: calc(var(--width) * var(--santa-ratio));
  background: transparent url("./i/santa.png") center center / 100% 100%;
  animation: bob 7s infinite ease-in-out;
}

.boomers {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fall 0.7s cubic-bezier(.45,1.45,.7,.92) backwards;

  &.not-yet {
    transform: translateY(-150vh);
    animation: none;
  }
}

.boomer {
  --bob: 0vmin;
  --width: 30vmin;
  --flip: 1;
  --hue: 0deg;
  --offset: 0vmin;
  --scale: 1;
  --dur: 2s;
  --d6: calc(var(--dur) / 6);

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform:
    translate(
      calc(var(--left) - (var(--offset) * 1vw) * var(--x)),
      calc(var(--top) - (var(--offset) * 1.3vh) * var(--y) + var(--bob))
    )
    scaleX(var(--flip))
    scale(var(--scale))
  ;
  animation: bob var(--dur) infinite ease-in-out;

  &--b-r {
    --left: 39vmin;
    --top: 37vmin;
    --offset: 10;
    --hue: 180deg;
    --scale: 0.7;
    animation-delay: calc(0s - var(--d6) * 0);
  }
  &--m-r {
    --left: 29vmin;
    --top: 58vmin;
    --offset: 20;
    --hue: 120deg;
    --scale: 0.85;
    animation-delay: calc(0s - var(--d6) * 1);
  }
  &--f-r {
    --left: 17vmin;
    --top: 85vmin;
    --offset: 30;
    --hue: 0deg;
    animation-delay: calc(0s - var(--d6) * 2);
  }

  &--b-l {
    --left: 61vmin;
    --top: 37vmin;
    --offset: 10;
    --hue: 270deg;
    --scale: 0.7;
    --flip: -1;
    animation-delay: calc(0s - var(--d6) * 3);
  }
  &--m-l {
    --left: 71vmin;
    --top: 58vmin;
    --offset: 20;
    --hue: 60deg;
    --scale: 0.85;
    --flip: -1;
    animation-delay: calc(0s - var(--d6) * 4);
  }
  &--f-l {
    --left: 83vmin;
    --top: 85vmin;
    --offset: 30;
    --hue: 240deg;
    --flip: -1;
    animation-delay: calc(0s - var(--d6) * 5);
  }
}

input {
  display: none;
}
label {
  display: block;
}

@each $boomer in $boomers {
  [for^="#{$boomer}"],
  [value="#{$boomer}"]:checked ~ .head {
    background: transparent url("./i/head-#{$boomer}.png") center center / 100% 100%;
  }
}


.head {
  --width: 26vmin;

  position: absolute;
  top: -38vmin;
  left: -14vmin;
  width: var(--width);
  height: calc(var(--head-ratio) * var(--width));
  border-radius: 10vmin;
  pointer-events: initial;
  cursor: pointer;
  transition: background-image 0.1s;
}

.run {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: calc(var(--width) * var(--run-ratio));
  overflow: hidden;
  transform:
    translate(
      -50%,
      -50%
    )
  ;

  > div {
    position: absolute;
    width: 300%;
    height: 100%;
    animation: run 1s infinite steps(1);
  }

  .bg {
    background: transparent url("./i/run-bg.png") center center / 100% 100%;
  }

  .body {
    background: transparent url("./i/run-body.png") center center / 100% 100%;
    filter: hue-rotate(var(--hue));
  }

  .fg {
    background: transparent url("./i/run-fg.png") center center / 100% 100%;
  }
}

.head-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vmin;

  position: absolute;
  top: -34vmin;
  left: 10vmin;
  z-index: 1;
  width: 30vmin;
  height: 40vmin;
  padding: 1vmin;
  background: white;
  border-radius: 5vmin;

  transform: scale(0);
  transform-origin: -13vmin 15vmin;
  transition: transform 0.3s;

  label {
    cursor: pointer;
  }
}

:checked + .boomer {
  z-index: 1;

  .head {
    pointer-events: none;
  }

  .head-select {
    transform: scale(1);

    label {
      pointer-events: initial;
    }
  }
}

#start-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  pointer-events: initial;
  opacity: 0;
  outline: none;
  font-family: 'Nerko One', cursive;

  color: #d3a701;
  background: #671a00;
  border: 0;
  font-size: 13vmin;
  border-radius: 3vmin;
  padding: 3vmin 7vmin;
  box-shadow: 0 1vmin 4vmin #000000;

  &.can-start {
    opacity: 1;
    transition: opacity 2s;
  }

  &.started {
    pointer-events: none;
    opacity: 0;
    transform: scale(10);
    transition: opacity 5s, transform 5s;
  }
}

audio {
  opacity: 0;
}
