*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  perspective: 150vmin;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: hsl(
    calc(var(--hue, 0) * 1deg),
    50%,
    50%
  );
  transition: background-color 0.05s;
  justify-content: center;
  align-items: center;
  font-size: 7vmin;
}
.box::before {
  color: hsl(0, 0%, 70%);
  content: attr(data-label);
  mix-blend-mode: overlay;
}
.box::after {
  content: counter(gyro) "°";
  counter-reset: gyro;
  counter-increment: gyro var(--display-value);
  font-size: 2em;
  color: white;
  mix-blend-mode: overlay;
}

.box[data-type="gyro--z"] {
  --hue: var(--gyro--z, 0);
  --display-value: var(--gyro-int--z);
}
.box[data-type="gyro--x"] {
  --hue: var(--gyro--x, 0);
  --display-value: var(--gyro-int--x);
}
.box[data-type="gyro--y"] {
  --hue: var(--gyro--y, 0);
  --display-value: var(--gyro-int--y);
}

.cube {
  --x-dir: 1;
  --y-dir: -1;
  --z-dir: -1;

  position: fixed;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  font-size: 12vmin;

  transform:
    translate(-50%, -50%)
    rotateY(calc(var(--gyro--y, 0) * var(--y-dir) * 1deg))
    rotateX(calc(var(--gyro--x, 0) * var(--x-dir) * 1deg))
    rotateZ(calc(var(--gyro--z, 0) * var(--z-dir) * -1deg));
}

.cube__face {
  --i: 0;
  --j: 1;

  position: absolute;
  margin: -2em;
  width: 4em;
  height: 4em;
  transform:
    rotate3d(
      var(--i),
      var(--j),
      0,
      var(--a)
    )
    translateZ(2em)
  ;
  background: linear-gradient(
    to bottom right,
    hsla(var(--hue-1), 100%, 50%, 0.85),
    hsla(var(--hue-1), 100%, 50%, 0.85)
  );
}

.cube__face:nth-child(n + 5) {
  --i: 1;
  --j: 0;
}

.cube__face:nth-child(1) {
  --a: 0deg;
  --hue-1: 61;
  --hue-2: 102;
}

.cube__face:nth-child(2) {
  --a: 90deg;
  --hue-1: 317;
  --hue-2: 218;
}

.cube__face:nth-child(3) {
  --a: 180deg;
  --hue-1: 142;
  --hue-2: 200;
}

.cube__face:nth-child(4) {
  --a: 270deg;
  --hue-1: 217;
  --hue-2: 199;
}

.cube__face:nth-child(5) {
  --a: 90deg;
  --hue-1: 46;
  --hue-2: 13;
}

.cube__face:nth-child(6) {
  --a: -90deg;
  --hue-1: 35;
  --hue-2: 15;
}
