:root {
  /* attempt to use the operating system font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: white;
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-size: var(--header-size);
}

h3 {
  --header-size: 35px;
}
