html,
body {
  margin: 0;
  height: 100%;
  background-color: black;
}

#game {
  position: fixed;
  top: calc(calc(100vh - 100vmin) / 2);
  left: calc(calc(100vw - 100vmin) / 2);
  width: 100vmin;
  height: 100vmin;
  background-color: white;
}

@media (pointer: fine) {
  .controls {
    display: none;
  }
}

.controls {
  position: fixed;
  top: 1vmin;
  left: 1vmin;
  height: calc(100% - 2vmin);
  width: calc(100% - 2vmin);
}

.controls > * {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 0.5vmin;
  background: yellow;
}

.controls > .jump {
  top: 0;
  right: 0;
}
.controls > .left {
  bottom: 0;
  left: 0;
}
.controls > .right {
  bottom: 0;
  right: 0;
}
