mixin bouncy-text(string, letterList = usedLetters)
  p.bouncy-text
    - let ws = string.split(' ');
    each w, index in ws
      if index !== 0
        |  
      i #{letter}
        - let letters = w.split('');
        each letter in letters
          - letterList.push(letter)
          i #{letter}
