@keyframes letter-wobble {
  0% {
    transform: translateY(0.05em);
  }

  50% {
    transform: translateY(-0.05em);
  }

  100% {
    transform: translateY(0.05em);
  }
}

.dialogue {
  will-change: opacity;
  cursor: pointer;
  background: rgba(51, 68, 64, 0.7);
  padding: 2vh 3vh;
  padding-right: 4vh;
  border-radius: 1vh;

  &::after {
    content: "click here to continue";
    display: block;
    width: 5vh;
    position: absolute;
    right: 0.5vh;
    top: 0.5vh;
    font-size: 1.5vh;
    line-height: 1.7vh;
    z-index: 1;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    opacity: inherit;
    transition: opacity 2s 6s steps(32);
    height: calc(100% - 1vh);
    pointer-events: none;
  }
}

.bouncy-text {
  margin: 0;
  color: white;
  font-size: 3vh;

  i {
    display: inline-block;
    font-style: normal;
    letter-spacing: 0.03em;
    animation: letter-wobble ease-in-out infinite;
    will-change: transform;
    min-width: min-content;

    &:nth-child(4n + 0) {
      animation-delay: -#{frame-duration(4)};
      animation-duration: 2s;
      animation-timing-function: steps(8);
    }

    &:nth-child(4n + 1) {
      animation-delay: -#{frame-duration(32)};
      animation-duration: 2s;
      animation-timing-function: steps(8);
    }

    &:nth-child(4n + 2) {
      animation-delay: -#{frame-duration(8)};
      animation-duration: 2s;
      animation-timing-function: steps(8);
    }

    &:nth-child(4n + 3) {
      animation-delay: -#{frame-duration(16)};
      animation-duration: 2s;
      animation-timing-function: steps(8);
    }
  }
}

