
:root {
  --frame-rate: 16;
}

body,html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  font-family: 'Mali', cursive;
}
input {
  font: inherit;
}

h2 {
  position: fixed;
  top: 2vh;
  left: 2vw;
  font-size: 7vh;
  background: rgba(255,255,255,0.5);
  padding: 1vh 4vh;
  border-radius: 1vh;
  transition: opacity 0.5s;
}

form {
  position: relative;
}

input {
  display: none;
  border: 0;
}
input[type="reset"] {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1vh 3vh;
  color: white;
  font-size: 2vh;
  background: rgba(51, 68, 64, 0.7);
  border-top-right-radius: 1vh;
}

label {
  position: absolute;
  bottom: 71vh;
  display: block;
  color: #fffbf3;
  opacity: 0;
  width: 35vh;
  pointer-events: none;
}
