:root {
  --fps: 16;
}

body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  font-family: "Mali", cursive;
}

h2 {
  position: fixed;
  top: 2vh;
  left: 2vw;
  font-size: 7vh;
  background: rgba(255, 255, 255, 0.5);
  padding: 1vh 4vh;
  border-radius: 1vh;
  transition: opacity 0.5s;
}

form {
  position: relative;
}

input,
button {
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input {
  display: none;
  border: 0;
}

input[type=reset] {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1vh 3vh;
  color: white;
  font-size: 2vh;
  background: rgba(51, 68, 64, 0.7);
  border-top-right-radius: 1vh;
}

label {
  display: block;
  position: absolute;
  bottom: 71vh;
  width: 35vh;
  color: #fffbf3;
  opacity: 0;
  pointer-events: none;
}

@keyframes bg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-70vh / 1.5));
  }
}
.bg,
.floor {
  position: fixed;
  z-index: -1;
}

.bg {
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: repeating-linear-gradient(to right, #e48282, #e48282 calc(70vh / 6), #f5efe5 0, #f5efe5 calc(70vh / 1.5));
}

.floor {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #fffbf3;
}

.guitar {
  position: absolute;
  bottom: 0;
  left: -20vw;
  height: 39.4542429285vh;
  width: 52vh;
  background: transparent 50% 50% no-repeat url(../images/guitar.png);
  background-size: contain;
  transform: translate(200vh, 1vh) rotate(40deg);
  opacity: 0;
  pointer-events: none;
}

.guitar::after,
.bag::after,
.tablet::after,
.book::after {
  content: "Click me";
  position: absolute;
  display: block;
  padding: 2vh 3vh;
  background: rgba(51, 68, 64, 0.7);
  font-size: 3vh;
  border-radius: 1vh;
  opacity: 0;
  transition: opacity 2s steps(16);
  text-align: center;
  transition-delay: 10s;
}

.guitar::after {
  transform: rotate(-40deg);
  top: 7vh;
  left: 5vh;
}

.bag::after {
  transform: rotate(-98deg);
  top: 3vh;
  left: -12vh;
}

.guitar-strap {
  --size: 18vh;
  position: absolute;
  left: 10.5vh;
  bottom: 32vh;
  height: 15.6165517241vh;
  width: 18vh;
  background: transparent 50% 50% no-repeat url("../images/guitar-strap.png");
  background-size: contain;
  pointer-events: none;
  z-index: 1;
  transform: rotate(90deg) scale(0);
}

.bag {
  position: absolute;
  bottom: 26vh;
  left: 9vw;
  height: 25.8907563025vh;
  width: 19.5vh;
  background: transparent 50% 50% no-repeat url(../images/bag.png);
  background-size: contain;
  transform: translate(226vh, 10vh) rotate(98deg);
  opacity: 0;
  pointer-events: none;
}

.bag-strap {
  --size: 5vh;
  position: absolute;
  left: 7vh;
  bottom: 34vh;
  height: 13.7557603687vh;
  width: 5vh;
  height: calc(var(--size) * (597 / 217));
  width: var(--size);
  background: transparent 50% 50% no-repeat url(../images/bag-strap.png);
  background-size: contain;
  pointer-events: none;
  z-index: 1;
  transform: rotate(90deg) scale(0);
}

.tablet-container {
  perspective: 200vh;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.tablet {
  --size: 19.5vh;
  position: absolute;
  bottom: 22vh;
  left: -20vw;
  height: 20.13984375vh;
  width: 19.5vh;
  height: calc(var(--size) * (661 / 640));
  width: var(--size);
  background: transparent 50% 50% no-repeat url(../images/tablet.png);
  background-size: contain;
  transform: translate(210vh, 8vh) rotateX(66deg) rotateY(8deg) rotateZ(-65deg);
  pointer-events: none;
  transform-style: preserve-3d;
}
.tablet::after {
  transform: rotateZ(65deg) rotateY(-8deg) rotateX(-66deg) translate3D(7vh, 10vh, 0vh);
}

.book {
  --size: 19.5vh;
  position: absolute;
  bottom: 17vh;
  left: 22vw;
  height: 19.0045372051vh;
  width: 19.5vh;
  height: calc(var(--size) * (537 / 551));
  width: var(--size);
  background: transparent 50% 50% no-repeat url(../images/book.png);
  background-size: contain;
  transform: translate(226vh, 10vh) rotate(0);
  pointer-events: none;
}
.book::after {
  transform: translateY(-6vh);
}

@keyframes sprite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + calc(100% / var(--frame-count))));
  }
}
.sprite-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.brett-waddle,
.brett-thumb {
  --ratio: calc(1092 / 521);
  position: relative;
  width: calc(70vh / 2);
  height: calc(var(--ratio) * calc(70vh / 2));
  pointer-events: none;
}

.brett-thumb {
  z-index: 2;
  visibility: hidden;
  background-image: url("../images/brett-thumb.png");
  margin-top: calc(var(--ratio) * calc(-70vh / 2));
  background-size: contain;
}

.brett-waddle > .shadow {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 50%;
  background-color: #d0c1aa;
  pointer-events: none;
}

.brett-waddle .sprite {
  width: 100%;
  height: 100%;
  background: 0 0/auto 100%;
  will-change: transform;
  will-change: background-image;
}

@keyframes letter-wobble {
  0% {
    transform: translateY(0.05em);
  }
  50% {
    transform: translateY(-0.05em);
  }
  100% {
    transform: translateY(0.05em);
  }
}
.dialogue {
  will-change: opacity;
  cursor: pointer;
  background: rgba(51, 68, 64, 0.7);
  padding: 2vh 3vh;
  padding-right: 4vh;
  border-radius: 1vh;
}
.dialogue::after {
  content: "click here to continue";
  display: block;
  width: 5vh;
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
  font-size: 1.5vh;
  line-height: 1.7vh;
  z-index: 1;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  opacity: inherit;
  transition: opacity 2s 6s steps(32);
  height: calc(100% - 1vh);
  pointer-events: none;
}

.bouncy-text {
  margin: 0;
  color: white;
  font-size: 3vh;
}
.bouncy-text i {
  display: inline-block;
  font-style: normal;
  letter-spacing: 0.03em;
  animation: letter-wobble ease-in-out infinite;
  will-change: transform;
  min-width: min-content;
}
.bouncy-text i:nth-child(4n+0) {
  animation-delay: -250ms;
  animation-duration: 2s;
  animation-timing-function: steps(8);
}
.bouncy-text i:nth-child(4n+1) {
  animation-delay: -2000ms;
  animation-duration: 2s;
  animation-timing-function: steps(8);
}
.bouncy-text i:nth-child(4n+2) {
  animation-delay: -500ms;
  animation-duration: 2s;
  animation-timing-function: steps(8);
}
.bouncy-text i:nth-child(4n+3) {
  animation-delay: -1000ms;
  animation-duration: 2s;
  animation-timing-function: steps(8);
}

/* init */
[for=hi-im-brett] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  font-size: 5vh;
  text-align: center;
  background: #2b2f2e;
  opacity: 1;
  transition: opacity 0.25s steps(4);
  pointer-events: auto;
}
[for=hi-im-brett] .bouncy-text::after {
  content: none;
  display: none;
}

#hi-im-brett:checked ~ [for=hi-im-brett] {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s steps(32);
}

@keyframes speech--in {
  from {
    opacity: 0;
    transform: translate(-3vh, -1vh) scale(1.2);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
@keyframes speech--out {
  from {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(3vh, 1vh) scale(0.5);
  }
}
#hi-im-brett:checked ~ .hi-im-brett,
#i-want-to-go-out:checked ~ .i-want-to-go-out,
#help-me-remember:checked ~ .help-me-remember,
#walk--1:checked ~ .here-are-my-big-things,
#i-can-only-take-one:checked ~ .i-can-only-take-one,
#what-should-i-bring:checked ~ .what-should-i-bring,
#bag:checked ~ .ill-take-my-bag,
#guitar:checked ~ .ill-take-my-guitar,
#oh-no-im-late:checked ~ .oh-no-im-late,
#walk--2:checked ~ .here-are-my-small-things,
#i-only-have-2-hands:checked ~ .i-only-have-2-hands,
#which-small-item:checked ~ .which-small-item,
#tablet:checked ~ .i-choose-my-tablet,
#book:checked ~ .i-choose-my-book,
#guitar:checked ~ #tablet:checked ~ #ill-take-my-small-item:checked ~ .remember-chords,
#out-of-tune:checked ~ .out-of-tune,
#guitar:checked ~ #book:checked ~ #ill-take-my-small-item:checked ~ .church-with-autoscroll,
#convinced-the-kidz:checked ~ .convinced-the-kidz,
#bag:checked ~ #tablet:checked ~ #ill-take-my-small-item:checked ~ .gill-dandy,
#dont-worry-about-it:checked ~ .dont-worry-about-it,
#bag:checked ~ #book:checked ~ #ill-take-my-small-item:checked ~ .soggy-book,
#camping-trip:checked ~ .camping-trip,
#i-need-to-go:checked ~ .i-need-to-go,
#thank-you-see-you:checked ~ .thank-you-see-you {
  opacity: 1;
  animation: speech--in 0.5s steps(8) backwards;
  animation-delay: 0.5s;
  pointer-events: auto;
}

#hi-im-brett:checked ~ .hi-im-brett {
  animation-delay: 1s !important;
}

#walk--1:checked ~ .here-are-my-big-things {
  animation-delay: 2s !important;
}

#walk--1:checked ~ .here-are-my-small-things {
  animation-delay: 2s !important;
}

#i-want-to-go-out:checked ~ .hi-im-brett,
#help-me-remember:checked ~ .i-want-to-go-out,
#walk--1:checked ~ .help-me-remember,
#i-can-only-take-one:checked ~ .here-are-my-big-things,
#what-should-i-bring:checked ~ .i-can-only-take-one,
#pick-big-item:checked ~ .what-should-i-bring,
#pick-big-item:checked ~ .what-should-i-bring,
#bag:checked ~ #oh-no-im-late:checked ~ .ill-take-my-bag,
#guitar:checked ~ #oh-no-im-late:checked ~ .ill-take-my-guitar,
#walk--2:checked ~ .oh-no-im-late,
#i-only-have-2-hands:checked ~ .here-are-my-small-things,
#which-small-item:checked ~ .i-only-have-2-hands,
#pick-small-item:checked ~ .which-small-item,
#tablet:checked ~ #ill-take-my-small-item:checked ~ .i-choose-my-tablet,
#book:checked ~ #ill-take-my-small-item:checked ~ .i-choose-my-book,
#guitar:checked ~ #tablet:checked ~ #out-of-tune:checked:checked ~ .remember-chords,
#guitar:checked ~ #book:checked ~ #convinced-the-kidz:checked:checked ~ .church-with-autoscroll,
#bag:checked ~ #tablet:checked ~ #dont-worry-about-it:checked:checked ~ .gill-dandy,
#bag:checked ~ #book:checked ~ #camping-trip:checked:checked ~ .soggy-book,
#guitar:checked ~ #tablet:checked ~ #i-need-to-go:checked ~ .out-of-tune,
#guitar:checked ~ #book:checked ~ #i-need-to-go:checked ~ .convinced-the-kidz,
#bag:checked ~ #tablet:checked ~ #i-need-to-go:checked ~ .dont-worry-about-it,
#bag:checked ~ #book:checked ~ #i-need-to-go:checked ~ .camping-trip,
#thank-you-see-you:checked ~ .i-need-to-go,
#good-bye:checked ~ .thank-you-see-you {
  opacity: 0;
  animation: speech--out 0.75s steps(12) backwards;
  animation-delay: 0s !important;
  pointer-events: none;
}

/* walking sections */
.brett-waddle .sprite {
  animation: none;
  background-image: url("../images/brett.png");
}

#walk--1:checked ~ .brett-waddle .sprite {
  --frame-count: 16;
  width: 1600%;
  animation: sprite 1s steps(15) 3;
  height: 100%;
  background: 0 0/auto 100%;
  will-change: transform;
  background-image: url("../images/brett-waddle.png");
}
#walk--1:checked ~ .bg {
  animation: bg 1s steps(16);
  animation-iteration-count: 3;
}

#i-can-only-take-one:checked ~ .brett-waddle .sprite {
  animation: none;
  background-image: url("../images/brett.png");
}
#i-can-only-take-one:checked ~ .bg {
  animation: none;
}

#walk--2:checked ~ .brett-waddle .sprite {
  --frame-count: 16;
  width: 1600%;
  animation: sprite 1s steps(15) 3;
  height: 100%;
  background: 0 0/auto 100%;
  will-change: transform;
  background-image: url("../images/brett-waddle.png");
}
#walk--2:checked ~ .bg {
  animation: bg 1s steps(16);
  animation-iteration-count: 3;
}

#i-only-have-2-hands:checked ~ .brett-waddle .sprite {
  animation: none;
  background-image: url("../images/brett.png");
}
#i-only-have-2-hands:checked ~ .bg {
  animation: none;
}

#good-bye:checked ~ .brett-waddle .sprite {
  --frame-count: 16;
  width: 1600%;
  animation: sprite 1s steps(15) 10;
  height: 100%;
  background: 0 0/auto 100%;
  will-change: transform;
  background-image: url("../images/brett-waddle.png");
}
#good-bye:checked ~ .brett-waddle,
#good-bye:checked ~ .brett-thumb,
#good-bye:checked ~ .guitar,
#good-bye:checked ~ .guitar-strap,
#good-bye:checked ~ .bag,
#good-bye:checked ~ .bag-strap,
#good-bye:checked ~ .book,
#good-bye:checked ~ .tablet-container {
  transition: opacity 3s steps(48) !important;
  opacity: 0 !important;
}

#walk--1:checked ~ .guitar {
  transform: translate(-10vh, 1vh) rotate(40deg);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 3s, 1s;
  transition-timing-function: steps(48), steps(16);
}

#walk--1:checked ~ .bag {
  transform: translate(16vh, 10vh) rotate(98deg);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 3s, 1s;
  transition-timing-function: steps(48), steps(16);
}

#pick-big-item:checked ~ .bag,
#pick-big-item:checked ~ .guitar {
  cursor: pointer;
  pointer-events: initial;
}
#pick-big-item:checked ~ .bag::after,
#pick-big-item:checked ~ .guitar::after {
  opacity: 1;
}
#pick-big-item:checked ~ .bag-strap,
#pick-big-item:checked ~ .guitar-strap {
  will-change: transform;
}

#bag:checked ~ .guitar,
#bag:checked ~ .bag,
#guitar:checked ~ .guitar,
#guitar:checked ~ .bag {
  pointer-events: none;
}
#bag:checked ~ .guitar::after,
#bag:checked ~ .bag::after,
#guitar:checked ~ .guitar::after,
#guitar:checked ~ .bag::after {
  opacity: 0;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: steps(4);
}

#bag:checked ~ .bag,
#guitar:checked ~ .guitar {
  left: 0;
  transition-property: left, transform;
  transition-duration: 687.5ms, 687.5ms;
  transition-delay: 0s, 312.5ms;
  transition-timing-function: steps(11), steps(11);
}

#bag:checked ~ .bag-strap,
#guitar:checked ~ .guitar-strap {
  transition: transform 0.25s 0.75s steps(4);
  transform: rotate(0deg) scale(1);
}

#bag:checked ~ .guitar,
#guitar:checked ~ .bag {
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: steps(8);
}

#bag:checked ~ .bag {
  transform: translate(4vh, -2vh) rotate(0deg);
}

#guitar:checked ~ .guitar {
  transform: translate(0vh, -20vh) rotate(-10deg);
}

#walk--2:checked ~ .tablet-container .tablet {
  opacity: 1;
  transform: translate(0vh, 8vh) rotateX(66deg) rotateY(8deg) rotateZ(-65deg);
  transition-property: transform, opacity;
  transition-duration: 3s, 1s;
  transition-timing-function: steps(48), steps(16);
}

#walk--2:checked ~ .book {
  opacity: 1;
  transform: translate(16vh, 10vh) rotate(0);
  transition-property: transform, opacity;
  transition-duration: 3s, 1s;
  transition-timing-function: steps(48), steps(16);
}

#pick-small-item:checked ~ .tablet-container .tablet,
#pick-small-item:checked ~ .book {
  cursor: pointer;
  pointer-events: initial;
}
#pick-small-item:checked ~ .tablet-container .tablet::after,
#pick-small-item:checked ~ .book::after {
  opacity: 1;
}

#tablet:checked ~ .brett-thumb,
#book:checked ~ .brett-thumb {
  visibility: visible;
}
#tablet:checked ~ .tablet-container .tablet,
#tablet:checked ~ .book,
#book:checked ~ .tablet-container .tablet,
#book:checked ~ .book {
  pointer-events: none;
}
#tablet:checked ~ .tablet-container .tablet::after,
#tablet:checked ~ .book::after,
#book:checked ~ .tablet-container .tablet::after,
#book:checked ~ .book::after {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: steps(8);
}

#tablet:checked ~ .tablet-container {
  z-index: 1;
}
#tablet:checked ~ .tablet-container .tablet {
  left: 0;
  transform: translate(14.5vh, 10.5vh) rotateX(0) rotateY(0) rotateZ(0);
  transition-property: left, transform;
  transition-duration: 1s;
  transition-timing-function: steps(16);
}
#tablet:checked ~ .book {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s steps(8);
}

#book:checked ~ .book {
  left: 0;
  z-index: 1;
  transform: translate(14vh, 7vh) rotate(60deg);
  transition-property: left, transform;
  transition-duration: 1s;
  transition-timing-function: steps(16);
}
#book:checked ~ .tablet-container .tablet {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s steps(8);
}

@keyframes load {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
.loaders {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  animation: load 0.5s;
  background-image: url("../images/brett-waddle.png"), url("../images/guitar-strap.png"), url("../images/bag-strap.png");
}

/*# sourceMappingURL=main.css.map */
