<!DOCTYPE html>
<html lang="en" ng-app="map">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bean and Beer</title>

	<!-- Global -->
	<link rel="stylesheet" href="styles/resets.css">
	<link rel="stylesheet" href="styles/elements.css">
	<link rel="stylesheet" href="styles/fonts.css">

	<!-- Sructure -->
	<link rel="stylesheet" href="styles/structure.css">

	<!-- Sections -->
	<link rel="stylesheet" href="styles/header.css">
	<link rel="stylesheet" href="styles/map.css">
	<link rel="stylesheet" href="styles/list.css">
	<link rel="stylesheet" href="styles/filters.css">
</head>
<body>
	<!--

	-->



	<div class="body">
		<header class="headContainer">
			<h1 class="siteTitle f-title">Beans and Beer</h1>
		</header>

		<div class="mapContainer">
			<activitymap></activitymap>
		</div>

		<div class="listContainer">
			<div class="filterContainer">
				<h2 class="filterTitle f-title">Regions</h2>
				<div class="filterListContainer">
					<regions></regions>
				</div>
			</div>

			<results></results>
		</div>
	</div>




	<!--	non Angular	-->
	<!--		GOOGLE MAPS -->
	<script src="scripts/googlemaps.js"></script>
	<!-- </END> GOOGLE MAPS -->



	<!--	APP TEMPLATES -->
	<!-- Activity map template -->
	<script type="text/ng-template" id="/templates/activitymap.html">
		<div class="map" id="map-canvas"></div>
	</script>

	<!-- Regions filter -->
	<script type="text/ng-template" id="/templates/regions.html">
		<ul class="filterList">
			<li class="filterList__item"
			    ng-repeat="(districtName, districtData) in ds.list"
				ng-class="{ 'filterList__item--active' : districtData.isActive }"
			    ng-click="ds.toggle( $index )">
				{{ districtName }}
			</li>
		</ul>
	</script>

	<!--Reults list -->
	<script type="text/ng-template" id="/templates/results.html">
		<ul class="placeList">
		    <div ng-repeat="(districtName, districtData) in ds.list"
		         class="placeList__set"
		         ng-class="{ 'placeList__set--active': districtData.isActive }">
				<li class="placeList__item"
				    ng-class="{ 'placeList__item--highscore': place.rating &gt;= 4.4 }"
				    ng-repeat="place in districtData.places"
				    ng-show="place.rating &gt;= 4"
				    data-stuff="{{ place.rating }}">
				    <!-- Display the district name -->
				    <div class="placeList__item__district">{{ districtName }}</div>
				    <!-- Only display items with a rating of 4 or more -->
				    <div class="placeList__item__open" ng-if="place.opening_hours.open_now">Open</div>
				    <div class="placeList__item__open" ng-if="!place.opening_hours.open_now">Closed</div>
				    {{ place.name }}
				</li>
             </div>
		</ul>
	</script>
	<!-- </END> APP TEMPLATES -->



	<!-- APP SCRIPTS -->
	<!-- Initialise the app -->
	<script src="scripts/angular.js"></script>
	<script src="scripts/app.js"></script>

	<!-- values	-->
	<script src="scripts/values/districts.js"></script>
	<script src="scripts/values/googlemaps.js"></script>

	<!-- services	-->
	<script src="scripts/services/districts.js"></script>

	<!-- directives	-->
	<script src="scripts/directives/activitymap.js"></script>
	<script src="scripts/directives/regions.js"></script>
	<script src="scripts/directives/results.js"></script>
	<!-- END - - APP SCRIPTS -->
</body>
</html>