* {
  box-sizing: border-box;
  transform-origin: 50% 50%;
  backface-visibility: visible;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  perspective: 200vmin;
  background: black;
}

@keyframes bg-fall {
  0% {
    background-position-y: calc(var(--length));
  }
  100% {
    background-position-y: calc(var(--length) + var(--length) * 4);
  }
}
.box {
  --thickness: 0.3vmin;
  --size: 60vmin;
  --length: calc(var(--size) / 1.4142135624 + var(--thickness) / 1.4142135624);
  --speed: 3;
  --x: -0.4;
  --y: 0.1;
  --count: 200;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--y, 0) * -1turn)) rotateY(calc(var(--x, 0) * 1turn));
  pointer-events: none;
}
.box > div {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(var(--size) / 2);
  top: calc(var(--size) / 2);
  transform-style: preserve-3d;
}
.box > div > div {
  position: absolute;
  top: calc(var(--length) / -2);
  left: calc(var(--thickness) / -2);
  width: var(--thickness);
  height: var(--length);
  transform: rotateY(calc(var(--i, 0) * 90deg)) translateZ(calc(var(--size) / 2 + var(--thickness) / 2));
  transform-style: preserve-3d;
}
.box > div > div:nth-child(1) {
  --i: 1;
}
.box > div > div:nth-child(2) {
  --i: 2;
}
.box > div > div:nth-child(3) {
  --i: 3;
}
.box > div > div:nth-child(4) {
  --i: 4;
}
.box > div > div > div {
  position: absolute;
  width: var(--thickness);
  height: var(--length);
  background: repeat linear-gradient(to bottom, #b23434, #b2b234, #34b234, #34b2b2, #3434b2, #b234b2, #b23434);
  background-size: 100% calc(var(--length) * 2);
  animation: bg-fall calc(var(--speed) * 1s) linear infinite;
}
.box > div > div > div:nth-child(1) {
  transform: translateZ(calc(var(--thickness) / 2.01));
}
.box > div > div > div:nth-child(2) {
  transform: rotateY(90deg) translateZ(calc(var(--thickness) / 2.01));
}
.box > div > div > div:nth-child(3) {
  transform: translateZ(calc(var(--thickness) / -2.01));
}
.box > div > div > div:nth-child(4) {
  transform: rotateY(90deg) translateZ(calc(var(--thickness) / -2.01));
}
.box .x {
  transform: rotateY(45deg);
}
.box .y {
  transform: rotateZ(90deg) rotateY(45deg);
}
.box .z {
  transform: rotateX(90deg) rotateY(45deg);
}
.box .dot {
  width: calc(var(--size) / 150);
  height: calc(var(--size) / 150);
  background: repeat linear-gradient(to bottom, #ed5e5e, #eded5e, #5eed5e, #5eeded, #5e5eed, #ed5eed, #ed5e5e);
  background-size: calc(var(--size) / 50) var(--length);
  transform: translate3D(calc(var(--size) * var(--r1)), calc(var(--size) * var(--r2)), calc(var(--size) * var(--r3))) rotateY(calc(var(--x, 0) * -1turn)) rotateX(calc(var(--y, 0) * 1turn)) scale(calc(var(--i) / 100 + 0.66));
  border-radius: 50%;
  animation: bg-fall calc(var(--speed) * 1s) linear infinite;
  animation-delay: calc(var(--speed) * -1s * (var(--i) / var(--count)));
}
.box .dot:nth-child(1) {
  --i: 1;
  --r1: 0.2224137931;
  --r2: 0.0913793103;
  --r3: 0.3237931034;
}
.box .dot:nth-child(2) {
  --i: 2;
  --r1: -0.1979310345;
  --r2: -0.0810344828;
  --r3: -0.0782758621;
}
.box .dot:nth-child(3) {
  --i: 3;
  --r1: 0.2862068966;
  --r2: -0.0703448276;
  --r3: 0.1696551724;
}
.box .dot:nth-child(4) {
  --i: 4;
  --r1: -0.2672413793;
  --r2: 0.0365517241;
  --r3: 0.3327586207;
}
.box .dot:nth-child(5) {
  --i: 5;
  --r1: 0.2368965517;
  --r2: 0.3051724138;
  --r3: -0.0955172414;
}
.box .dot:nth-child(6) {
  --i: 6;
  --r1: -0.2282758621;
  --r2: -0.1889655172;
  --r3: 0.0617241379;
}
.box .dot:nth-child(7) {
  --i: 7;
  --r1: 0.0568965517;
  --r2: -0.29;
  --r3: -0.2913793103;
}
.box .dot:nth-child(8) {
  --i: 8;
  --r1: 0.0489655172;
  --r2: 0.2789655172;
  --r3: -0.1944827586;
}
.box .dot:nth-child(9) {
  --i: 9;
  --r1: -0.2589655172;
  --r2: -0.344137931;
  --r3: -0.0965517241;
}
.box .dot:nth-child(10) {
  --i: 10;
  --r1: -0.3027586207;
  --r2: -0.154137931;
  --r3: 0.11;
}
.box .dot:nth-child(11) {
  --i: 11;
  --r1: -0.1248275862;
  --r2: -0.1806896552;
  --r3: -0.2075862069;
}
.box .dot:nth-child(12) {
  --i: 12;
  --r1: 0.0955172414;
  --r2: -0.1765517241;
  --r3: -0.225862069;
}
.box .dot:nth-child(13) {
  --i: 13;
  --r1: 0.1355172414;
  --r2: 0.275862069;
  --r3: 0.3375862069;
}
.box .dot:nth-child(14) {
  --i: 14;
  --r1: -0.2344827586;
  --r2: -0.1427586207;
  --r3: 0.2155172414;
}
.box .dot:nth-child(15) {
  --i: 15;
  --r1: -0.1210344828;
  --r2: 0.0672413793;
  --r3: -0.1965517241;
}
.box .dot:nth-child(16) {
  --i: 16;
  --r1: -0.1513793103;
  --r2: 0.3331034483;
  --r3: 0.2606896552;
}
.box .dot:nth-child(17) {
  --i: 17;
  --r1: 0.0762068966;
  --r2: 0.0934482759;
  --r3: 0.2817241379;
}
.box .dot:nth-child(18) {
  --i: 18;
  --r1: -0.0186206897;
  --r2: -0.2765517241;
  --r3: 0.0989655172;
}
.box .dot:nth-child(19) {
  --i: 19;
  --r1: 0.0513793103;
  --r2: 0.2520689655;
  --r3: -0.2724137931;
}
.box .dot:nth-child(20) {
  --i: 20;
  --r1: -0.1665517241;
  --r2: -0.1624137931;
  --r3: -0.0972413793;
}
.box .dot:nth-child(21) {
  --i: 21;
  --r1: -0.0703448276;
  --r2: 0.2734482759;
  --r3: -0.1551724138;
}
.box .dot:nth-child(22) {
  --i: 22;
  --r1: 0.0179310345;
  --r2: 0.0603448276;
  --r3: -0.1996551724;
}
.box .dot:nth-child(23) {
  --i: 23;
  --r1: -0.064137931;
  --r2: 0.2717241379;
  --r3: -0.1627586207;
}
.box .dot:nth-child(24) {
  --i: 24;
  --r1: 0.2351724138;
  --r2: -0.1913793103;
  --r3: 0.0586206897;
}
.box .dot:nth-child(25) {
  --i: 25;
  --r1: -0.0293103448;
  --r2: 0.0148275862;
  --r3: 0.0110344828;
}
.box .dot:nth-child(26) {
  --i: 26;
  --r1: -0.1279310345;
  --r2: -0.1110344828;
  --r3: -0.104137931;
}
.box .dot:nth-child(27) {
  --i: 27;
  --r1: -0.195862069;
  --r2: 0.1682758621;
  --r3: -0.2031034483;
}
.box .dot:nth-child(28) {
  --i: 28;
  --r1: 0.2089655172;
  --r2: 0.0544827586;
  --r3: -0.2944827586;
}
.box .dot:nth-child(29) {
  --i: 29;
  --r1: 0.1593103448;
  --r2: -0.2193103448;
  --r3: -0.1186206897;
}
.box .dot:nth-child(30) {
  --i: 30;
  --r1: 0.1644827586;
  --r2: 0.0220689655;
  --r3: 0.0079310345;
}
.box .dot:nth-child(31) {
  --i: 31;
  --r1: -0.0196551724;
  --r2: 0.3175862069;
  --r3: 0.0862068966;
}
.box .dot:nth-child(32) {
  --i: 32;
  --r1: 0.1489655172;
  --r2: -0.2882758621;
  --r3: -0.254137931;
}
.box .dot:nth-child(33) {
  --i: 33;
  --r1: -0.2368965517;
  --r2: 0.0482758621;
  --r3: -0.2851724138;
}
.box .dot:nth-child(34) {
  --i: 34;
  --r1: -0.1510344828;
  --r2: -0.1468965517;
  --r3: 0.2675862069;
}
.box .dot:nth-child(35) {
  --i: 35;
  --r1: 0.014137931;
  --r2: -0.0886206897;
  --r3: -0.3296551724;
}
.box .dot:nth-child(36) {
  --i: 36;
  --r1: -0.1934482759;
  --r2: -0.0544827586;
  --r3: -0.0244827586;
}
.box .dot:nth-child(37) {
  --i: 37;
  --r1: 0.3255172414;
  --r2: 0.1331034483;
  --r3: -0.165862069;
}
.box .dot:nth-child(38) {
  --i: 38;
  --r1: 0.2455172414;
  --r2: -0.3334482759;
  --r3: -0.0482758621;
}
.box .dot:nth-child(39) {
  --i: 39;
  --r1: -0.204137931;
  --r2: 0.1137931034;
  --r3: -0.3368965517;
}
.box .dot:nth-child(40) {
  --i: 40;
  --r1: 0.1817241379;
  --r2: -0.0955172414;
  --r3: -0.304137931;
}
.box .dot:nth-child(41) {
  --i: 41;
  --r1: -0.1931034483;
  --r2: -0.1189655172;
  --r3: -0.2627586207;
}
.box .dot:nth-child(42) {
  --i: 42;
  --r1: -0.3203448276;
  --r2: 0.0051724138;
  --r3: 0.2134482759;
}
.box .dot:nth-child(43) {
  --i: 43;
  --r1: 0.2217241379;
  --r2: 0.0472413793;
  --r3: 0.074137931;
}
.box .dot:nth-child(44) {
  --i: 44;
  --r1: -0.2351724138;
  --r2: -0.3386206897;
  --r3: -0.1579310345;
}
.box .dot:nth-child(45) {
  --i: 45;
  --r1: -0.1837931034;
  --r2: -0.0496551724;
  --r3: -0.2717241379;
}
.box .dot:nth-child(46) {
  --i: 46;
  --r1: -0.0665517241;
  --r2: -0.1634482759;
  --r3: -0.1934482759;
}
.box .dot:nth-child(47) {
  --i: 47;
  --r1: -0.1479310345;
  --r2: -0.1775862069;
  --r3: 0.045862069;
}
.box .dot:nth-child(48) {
  --i: 48;
  --r1: 0.0324137931;
  --r2: -0.0744827586;
  --r3: -0.0448275862;
}
.box .dot:nth-child(49) {
  --i: 49;
  --r1: 0.17;
  --r2: 0.1393103448;
  --r3: 0.1410344828;
}
.box .dot:nth-child(50) {
  --i: 50;
  --r1: 0.2717241379;
  --r2: 0.0779310345;
  --r3: 0.0444827586;
}
.box .dot:nth-child(51) {
  --i: 51;
  --r1: 0.0579310345;
  --r2: 0.1237931034;
  --r3: -0.245862069;
}
.box .dot:nth-child(52) {
  --i: 52;
  --r1: 0.0203448276;
  --r2: 0.27;
  --r3: -0.2224137931;
}
.box .dot:nth-child(53) {
  --i: 53;
  --r1: 0.1851724138;
  --r2: -0.074137931;
  --r3: 0.0427586207;
}
.box .dot:nth-child(54) {
  --i: 54;
  --r1: 0.2772413793;
  --r2: -0.174137931;
  --r3: 0.3113793103;
}
.box .dot:nth-child(55) {
  --i: 55;
  --r1: 0.1937931034;
  --r2: 0.295862069;
  --r3: 0.1286206897;
}
.box .dot:nth-child(56) {
  --i: 56;
  --r1: -0.1310344828;
  --r2: -0.0820689655;
  --r3: 0.1272413793;
}
.box .dot:nth-child(57) {
  --i: 57;
  --r1: 0.3120689655;
  --r2: -0.1917241379;
  --r3: -0.0986206897;
}
.box .dot:nth-child(58) {
  --i: 58;
  --r1: 0.3120689655;
  --r2: -0.3368965517;
  --r3: 0.2534482759;
}
.box .dot:nth-child(59) {
  --i: 59;
  --r1: -0.2289655172;
  --r2: -0.2796551724;
  --r3: -0.3006896552;
}
.box .dot:nth-child(60) {
  --i: 60;
  --r1: 0.1679310345;
  --r2: -0.0924137931;
  --r3: -0.0768965517;
}
.box .dot:nth-child(61) {
  --i: 61;
  --r1: -0.1482758621;
  --r2: -0.0275862069;
  --r3: -0.1072413793;
}
.box .dot:nth-child(62) {
  --i: 62;
  --r1: -0.325862069;
  --r2: -0.2565517241;
  --r3: -0.1510344828;
}
.box .dot:nth-child(63) {
  --i: 63;
  --r1: 0.3096551724;
  --r2: 0.3337931034;
  --r3: -0.0213793103;
}
.box .dot:nth-child(64) {
  --i: 64;
  --r1: -0.3127586207;
  --r2: 0.2027586207;
  --r3: 0.2362068966;
}
.box .dot:nth-child(65) {
  --i: 65;
  --r1: 0.1520689655;
  --r2: 0.0003448276;
  --r3: -0.0534482759;
}
.box .dot:nth-child(66) {
  --i: 66;
  --r1: 0.1182758621;
  --r2: -0.1693103448;
  --r3: -0.1120689655;
}
.box .dot:nth-child(67) {
  --i: 67;
  --r1: -0.0006896552;
  --r2: -0.1389655172;
  --r3: -0.2465517241;
}
.box .dot:nth-child(68) {
  --i: 68;
  --r1: -0.1075862069;
  --r2: 0.0710344828;
  --r3: -0.0686206897;
}
.box .dot:nth-child(69) {
  --i: 69;
  --r1: 0.164137931;
  --r2: 0.2651724138;
  --r3: -0.124137931;
}
.box .dot:nth-child(70) {
  --i: 70;
  --r1: 0.2337931034;
  --r2: 0.1727586207;
  --r3: -0.0289655172;
}
.box .dot:nth-child(71) {
  --i: 71;
  --r1: 0.1110344828;
  --r2: -0.0782758621;
  --r3: -0.1386206897;
}
.box .dot:nth-child(72) {
  --i: 72;
  --r1: -0.0975862069;
  --r2: 0.2713793103;
  --r3: 0.27;
}
.box .dot:nth-child(73) {
  --i: 73;
  --r1: 0.0065517241;
  --r2: -0.1410344828;
  --r3: -0.2472413793;
}
.box .dot:nth-child(74) {
  --i: 74;
  --r1: 0.2734482759;
  --r2: 0.2165517241;
  --r3: -0.0331034483;
}
.box .dot:nth-child(75) {
  --i: 75;
  --r1: 0.31;
  --r2: -0.3424137931;
  --r3: 0.0427586207;
}
.box .dot:nth-child(76) {
  --i: 76;
  --r1: -0.1306896552;
  --r2: -0.0834482759;
  --r3: 0.1717241379;
}
.box .dot:nth-child(77) {
  --i: 77;
  --r1: 0.1279310345;
  --r2: 0.0244827586;
  --r3: 0.2282758621;
}
.box .dot:nth-child(78) {
  --i: 78;
  --r1: 0.0544827586;
  --r2: 0.0737931034;
  --r3: -0.3396551724;
}
.box .dot:nth-child(79) {
  --i: 79;
  --r1: -0.0420689655;
  --r2: 0.1520689655;
  --r3: 0.3320689655;
}
.box .dot:nth-child(80) {
  --i: 80;
  --r1: -0.2482758621;
  --r2: 0.2682758621;
  --r3: 0.165862069;
}
.box .dot:nth-child(81) {
  --i: 81;
  --r1: -0.1062068966;
  --r2: 0.1751724138;
  --r3: -0.0386206897;
}
.box .dot:nth-child(82) {
  --i: 82;
  --r1: 0.1031034483;
  --r2: 0.0479310345;
  --r3: 0.0668965517;
}
.box .dot:nth-child(83) {
  --i: 83;
  --r1: 0.1603448276;
  --r2: 0.2703448276;
  --r3: 0.065862069;
}
.box .dot:nth-child(84) {
  --i: 84;
  --r1: -0.2582758621;
  --r2: -0.0337931034;
  --r3: -0.1986206897;
}
.box .dot:nth-child(85) {
  --i: 85;
  --r1: -0.0937931034;
  --r2: -0.1248275862;
  --r3: 0.2624137931;
}
.box .dot:nth-child(86) {
  --i: 86;
  --r1: -0.155862069;
  --r2: 0.0862068966;
  --r3: -0.0503448276;
}
.box .dot:nth-child(87) {
  --i: 87;
  --r1: -0.2086206897;
  --r2: -0.055862069;
  --r3: -0.2082758621;
}
.box .dot:nth-child(88) {
  --i: 88;
  --r1: 0.1534482759;
  --r2: -0.1606896552;
  --r3: 0.0082758621;
}
.box .dot:nth-child(89) {
  --i: 89;
  --r1: 0.2544827586;
  --r2: -0.1475862069;
  --r3: 0.3351724138;
}
.box .dot:nth-child(90) {
  --i: 90;
  --r1: -0.1062068966;
  --r2: 0.2506896552;
  --r3: 0.1334482759;
}
.box .dot:nth-child(91) {
  --i: 91;
  --r1: 0.1206896552;
  --r2: -0.2834482759;
  --r3: -0.0831034483;
}
.box .dot:nth-child(92) {
  --i: 92;
  --r1: 0.2427586207;
  --r2: -0.1127586207;
  --r3: 0.1168965517;
}
.box .dot:nth-child(93) {
  --i: 93;
  --r1: 0.1951724138;
  --r2: -0.1386206897;
  --r3: 0.1906896552;
}
.box .dot:nth-child(94) {
  --i: 94;
  --r1: 0.0937931034;
  --r2: 0.2537931034;
  --r3: -0.0251724138;
}
.box .dot:nth-child(95) {
  --i: 95;
  --r1: 0.1703448276;
  --r2: -0.0496551724;
  --r3: -0.1862068966;
}
.box .dot:nth-child(96) {
  --i: 96;
  --r1: 0.2096551724;
  --r2: -0.2927586207;
  --r3: 0.1768965517;
}
.box .dot:nth-child(97) {
  --i: 97;
  --r1: -0.1024137931;
  --r2: 0.2831034483;
  --r3: -0.1968965517;
}
.box .dot:nth-child(98) {
  --i: 98;
  --r1: -0.1596551724;
  --r2: 0.155862069;
  --r3: 0.2186206897;
}
.box .dot:nth-child(99) {
  --i: 99;
  --r1: 0.1093103448;
  --r2: -0.3403448276;
  --r3: 0.1589655172;
}
.box .dot:nth-child(100) {
  --i: 100;
  --r1: -0.3082758621;
  --r2: -0.1465517241;
  --r3: 0.0924137931;
}
.box .dot:nth-child(101) {
  --i: 101;
  --r1: 0.3396551724;
  --r2: 0.1755172414;
  --r3: 0.0968965517;
}
.box .dot:nth-child(102) {
  --i: 102;
  --r1: 0.2286206897;
  --r2: 0.2968965517;
  --r3: 0.3317241379;
}
.box .dot:nth-child(103) {
  --i: 103;
  --r1: -0.0593103448;
  --r2: 0.1086206897;
  --r3: -0.3234482759;
}
.box .dot:nth-child(104) {
  --i: 104;
  --r1: -0.0248275862;
  --r2: -0.2272413793;
  --r3: -0.1003448276;
}
.box .dot:nth-child(105) {
  --i: 105;
  --r1: -0.3406896552;
  --r2: -0.1524137931;
  --r3: -0.1765517241;
}
.box .dot:nth-child(106) {
  --i: 106;
  --r1: -0.0627586207;
  --r2: -0.294137931;
  --r3: 0.0848275862;
}
.box .dot:nth-child(107) {
  --i: 107;
  --r1: 0.284137931;
  --r2: -0.0086206897;
  --r3: -0.1444827586;
}
.box .dot:nth-child(108) {
  --i: 108;
  --r1: 0.0437931034;
  --r2: -0.3079310345;
  --r3: -0.214137931;
}
.box .dot:nth-child(109) {
  --i: 109;
  --r1: 0.1406896552;
  --r2: 0.0179310345;
  --r3: -0.18;
}
.box .dot:nth-child(110) {
  --i: 110;
  --r1: 0.1679310345;
  --r2: -0.1172413793;
  --r3: -0.0006896552;
}
.box .dot:nth-child(111) {
  --i: 111;
  --r1: -0.2010344828;
  --r2: -0.0313793103;
  --r3: 0.3127586207;
}
.box .dot:nth-child(112) {
  --i: 112;
  --r1: -0.2386206897;
  --r2: 0.2586206897;
  --r3: -0.214137931;
}
.box .dot:nth-child(113) {
  --i: 113;
  --r1: -0.1131034483;
  --r2: 0.1037931034;
  --r3: -0.3127586207;
}
.box .dot:nth-child(114) {
  --i: 114;
  --r1: 0.1068965517;
  --r2: 0.2075862069;
  --r3: 0.1879310345;
}
.box .dot:nth-child(115) {
  --i: 115;
  --r1: -0.0868965517;
  --r2: 0.1965517241;
  --r3: -0.1034482759;
}
.box .dot:nth-child(116) {
  --i: 116;
  --r1: -0.3262068966;
  --r2: 0.1151724138;
  --r3: 0.2324137931;
}
.box .dot:nth-child(117) {
  --i: 117;
  --r1: -0.3206896552;
  --r2: 0.0465517241;
  --r3: 0.3375862069;
}
.box .dot:nth-child(118) {
  --i: 118;
  --r1: 0.1913793103;
  --r2: -0.0037931034;
  --r3: 0.1434482759;
}
.box .dot:nth-child(119) {
  --i: 119;
  --r1: 0.2493103448;
  --r2: -0.2748275862;
  --r3: 0.3327586207;
}
.box .dot:nth-child(120) {
  --i: 120;
  --r1: 0.1751724138;
  --r2: -0.0268965517;
  --r3: 0.1189655172;
}
.box .dot:nth-child(121) {
  --i: 121;
  --r1: -0.3389655172;
  --r2: 0.0306896552;
  --r3: 0.2882758621;
}
.box .dot:nth-child(122) {
  --i: 122;
  --r1: -0.3227586207;
  --r2: 0.2786206897;
  --r3: -0.2831034483;
}
.box .dot:nth-child(123) {
  --i: 123;
  --r1: 0.074137931;
  --r2: 0.044137931;
  --r3: 0.0537931034;
}
.box .dot:nth-child(124) {
  --i: 124;
  --r1: -0.3344827586;
  --r2: 0.1634482759;
  --r3: 0.0465517241;
}
.box .dot:nth-child(125) {
  --i: 125;
  --r1: 0.1834482759;
  --r2: 0.0593103448;
  --r3: 0.2875862069;
}
.box .dot:nth-child(126) {
  --i: 126;
  --r1: 0.2665517241;
  --r2: -0.2455172414;
  --r3: 0.2427586207;
}
.box .dot:nth-child(127) {
  --i: 127;
  --r1: 0.0334482759;
  --r2: -0.3065517241;
  --r3: 0.0665517241;
}
.box .dot:nth-child(128) {
  --i: 128;
  --r1: -0.3437931034;
  --r2: -0.1810344828;
  --r3: -0.0310344828;
}
.box .dot:nth-child(129) {
  --i: 129;
  --r1: -0.13;
  --r2: -0.1772413793;
  --r3: 0.0913793103;
}
.box .dot:nth-child(130) {
  --i: 130;
  --r1: 0.3437931034;
  --r2: 0.0451724138;
  --r3: -0.27;
}
.box .dot:nth-child(131) {
  --i: 131;
  --r1: 0.3193103448;
  --r2: 0.3227586207;
  --r3: -0.0427586207;
}
.box .dot:nth-child(132) {
  --i: 132;
  --r1: 0.1982758621;
  --r2: 0.1448275862;
  --r3: 0.19;
}
.box .dot:nth-child(133) {
  --i: 133;
  --r1: 0.1727586207;
  --r2: 0.2062068966;
  --r3: -0.1982758621;
}
.box .dot:nth-child(134) {
  --i: 134;
  --r1: 0.1796551724;
  --r2: 0.1055172414;
  --r3: -0.1534482759;
}
.box .dot:nth-child(135) {
  --i: 135;
  --r1: 0.0924137931;
  --r2: -0.0393103448;
  --r3: 0.3017241379;
}
.box .dot:nth-child(136) {
  --i: 136;
  --r1: -0.0631034483;
  --r2: 0.3331034483;
  --r3: -0.1817241379;
}
.box .dot:nth-child(137) {
  --i: 137;
  --r1: -0.2962068966;
  --r2: 0.0344827586;
  --r3: -0.1213793103;
}
.box .dot:nth-child(138) {
  --i: 138;
  --r1: -0.3368965517;
  --r2: -0.0437931034;
  --r3: 0.0548275862;
}
.box .dot:nth-child(139) {
  --i: 139;
  --r1: -0.1144827586;
  --r2: 0.0762068966;
  --r3: -0.2889655172;
}
.box .dot:nth-child(140) {
  --i: 140;
  --r1: 0.0906896552;
  --r2: 0.2234482759;
  --r3: 0.3365517241;
}
.box .dot:nth-child(141) {
  --i: 141;
  --r1: 0.2706896552;
  --r2: -0.165862069;
  --r3: -0.1517241379;
}
.box .dot:nth-child(142) {
  --i: 142;
  --r1: -0.2624137931;
  --r2: 0.2886206897;
  --r3: -0.2810344828;
}
.box .dot:nth-child(143) {
  --i: 143;
  --r1: 0.1834482759;
  --r2: -0.1737931034;
  --r3: -0.2220689655;
}
.box .dot:nth-child(144) {
  --i: 144;
  --r1: 0.1313793103;
  --r2: -0.2965517241;
  --r3: -0.1165517241;
}
.box .dot:nth-child(145) {
  --i: 145;
  --r1: -0.0386206897;
  --r2: -0.3227586207;
  --r3: 0.1;
}
.box .dot:nth-child(146) {
  --i: 146;
  --r1: -0.3403448276;
  --r2: 0.2524137931;
  --r3: -0.3234482759;
}
.box .dot:nth-child(147) {
  --i: 147;
  --r1: -0.1572413793;
  --r2: -0.3110344828;
  --r3: -0.2196551724;
}
.box .dot:nth-child(148) {
  --i: 148;
  --r1: -0.034137931;
  --r2: -0.0189655172;
  --r3: -0.2806896552;
}
.box .dot:nth-child(149) {
  --i: 149;
  --r1: 0.3010344828;
  --r2: 0.3196551724;
  --r3: 0.2817241379;
}
.box .dot:nth-child(150) {
  --i: 150;
  --r1: -0.3382758621;
  --r2: -0.0862068966;
  --r3: -0.2055172414;
}
.box .dot:nth-child(151) {
  --i: 151;
  --r1: -0.2779310345;
  --r2: 0.0117241379;
  --r3: -0.2917241379;
}
.box .dot:nth-child(152) {
  --i: 152;
  --r1: -0.2024137931;
  --r2: 0.2731034483;
  --r3: -0.0144827586;
}
.box .dot:nth-child(153) {
  --i: 153;
  --r1: -0.1555172414;
  --r2: 0.3431034483;
  --r3: -0.2134482759;
}
.box .dot:nth-child(154) {
  --i: 154;
  --r1: -0.3289655172;
  --r2: 0.1172413793;
  --r3: -0.0068965517;
}
.box .dot:nth-child(155) {
  --i: 155;
  --r1: -0.0396551724;
  --r2: 0.1868965517;
  --r3: 0.2520689655;
}
.box .dot:nth-child(156) {
  --i: 156;
  --r1: 0.1348275862;
  --r2: -0.2627586207;
  --r3: 0.0589655172;
}
.box .dot:nth-child(157) {
  --i: 157;
  --r1: 0.0724137931;
  --r2: -0.0027586207;
  --r3: 0.3148275862;
}
.box .dot:nth-child(158) {
  --i: 158;
  --r1: -0.0772413793;
  --r2: -0.1848275862;
  --r3: -0.2734482759;
}
.box .dot:nth-child(159) {
  --i: 159;
  --r1: 0.3162068966;
  --r2: 0.315862069;
  --r3: -0.0751724138;
}
.box .dot:nth-child(160) {
  --i: 160;
  --r1: -0.3217241379;
  --r2: 0.1675862069;
  --r3: 0.0120689655;
}
.box .dot:nth-child(161) {
  --i: 161;
  --r1: -0.094137931;
  --r2: 0.1479310345;
  --r3: 0.1293103448;
}
.box .dot:nth-child(162) {
  --i: 162;
  --r1: 0.0220689655;
  --r2: 0.2951724138;
  --r3: 0.0531034483;
}
.box .dot:nth-child(163) {
  --i: 163;
  --r1: -0.0996551724;
  --r2: 0.0572413793;
  --r3: -0.1348275862;
}
.box .dot:nth-child(164) {
  --i: 164;
  --r1: -0.0996551724;
  --r2: -0.0327586207;
  --r3: 0.3244827586;
}
.box .dot:nth-child(165) {
  --i: 165;
  --r1: 0.2093103448;
  --r2: 0.2693103448;
  --r3: -0.0248275862;
}
.box .dot:nth-child(166) {
  --i: 166;
  --r1: 0.0548275862;
  --r2: 0.2731034483;
  --r3: 0.305862069;
}
.box .dot:nth-child(167) {
  --i: 167;
  --r1: -0.1151724138;
  --r2: -0.2079310345;
  --r3: 0.0793103448;
}
.box .dot:nth-child(168) {
  --i: 168;
  --r1: 0.1106896552;
  --r2: 0.0682758621;
  --r3: -0.1220689655;
}
.box .dot:nth-child(169) {
  --i: 169;
  --r1: 0.2293103448;
  --r2: 0.1789655172;
  --r3: -0.1379310345;
}
.box .dot:nth-child(170) {
  --i: 170;
  --r1: 0.1989655172;
  --r2: 0.2906896552;
  --r3: 0.08;
}
.box .dot:nth-child(171) {
  --i: 171;
  --r1: 0.1965517241;
  --r2: -0.2589655172;
  --r3: -0.1437931034;
}
.box .dot:nth-child(172) {
  --i: 172;
  --r1: 0.2979310345;
  --r2: 0.2482758621;
  --r3: -0.2493103448;
}
.box .dot:nth-child(173) {
  --i: 173;
  --r1: -0.3320689655;
  --r2: -0.1427586207;
  --r3: 0.0855172414;
}
.box .dot:nth-child(174) {
  --i: 174;
  --r1: 0.0751724138;
  --r2: -0.2586206897;
  --r3: -0.0382758621;
}
.box .dot:nth-child(175) {
  --i: 175;
  --r1: 0.2665517241;
  --r2: 0.2686206897;
  --r3: -0.26;
}
.box .dot:nth-child(176) {
  --i: 176;
  --r1: 0.1996551724;
  --r2: -0.0375862069;
  --r3: -0.0106896552;
}
.box .dot:nth-child(177) {
  --i: 177;
  --r1: 0.224137931;
  --r2: 0.2951724138;
  --r3: -0.3227586207;
}
.box .dot:nth-child(178) {
  --i: 178;
  --r1: -0.0082758621;
  --r2: -0.1593103448;
  --r3: 0.3417241379;
}
.box .dot:nth-child(179) {
  --i: 179;
  --r1: -0.0675862069;
  --r2: -0.1096551724;
  --r3: 0.0410344828;
}
.box .dot:nth-child(180) {
  --i: 180;
  --r1: -0.0413793103;
  --r2: -0.2196551724;
  --r3: 0.0172413793;
}
.box .dot:nth-child(181) {
  --i: 181;
  --r1: 0.0251724138;
  --r2: 0.18;
  --r3: -0.0293103448;
}
.box .dot:nth-child(182) {
  --i: 182;
  --r1: 0.0775862069;
  --r2: -0.0734482759;
  --r3: -0.2262068966;
}
.box .dot:nth-child(183) {
  --i: 183;
  --r1: 0.0344827586;
  --r2: 0.0237931034;
  --r3: 0.1627586207;
}
.box .dot:nth-child(184) {
  --i: 184;
  --r1: -0.0820689655;
  --r2: 0.0586206897;
  --r3: 0.2927586207;
}
.box .dot:nth-child(185) {
  --i: 185;
  --r1: -0.0282758621;
  --r2: 0.2410344828;
  --r3: 0.2655172414;
}
.box .dot:nth-child(186) {
  --i: 186;
  --r1: -0.2275862069;
  --r2: 0.3293103448;
  --r3: 0.2565517241;
}
.box .dot:nth-child(187) {
  --i: 187;
  --r1: -0.2682758621;
  --r2: 0.1351724138;
  --r3: -0.1513793103;
}
.box .dot:nth-child(188) {
  --i: 188;
  --r1: -0.12;
  --r2: -0.0196551724;
  --r3: -0.3127586207;
}
.box .dot:nth-child(189) {
  --i: 189;
  --r1: 0.0324137931;
  --r2: 0.1668965517;
  --r3: -0.0951724138;
}
.box .dot:nth-child(190) {
  --i: 190;
  --r1: -0.0720689655;
  --r2: 0.3237931034;
  --r3: -0.255862069;
}
.box .dot:nth-child(191) {
  --i: 191;
  --r1: -0.0375862069;
  --r2: 0.3379310345;
  --r3: 0.2013793103;
}
.box .dot:nth-child(192) {
  --i: 192;
  --r1: -0.0506896552;
  --r2: -0.0834482759;
  --r3: 0.2510344828;
}
.box .dot:nth-child(193) {
  --i: 193;
  --r1: -0.3434482759;
  --r2: 0.3151724138;
  --r3: -0.1965517241;
}
.box .dot:nth-child(194) {
  --i: 194;
  --r1: -0.2510344828;
  --r2: -0.194137931;
  --r3: -0.1524137931;
}
.box .dot:nth-child(195) {
  --i: 195;
  --r1: -0.0210344828;
  --r2: -0.2682758621;
  --r3: 0.2144827586;
}
.box .dot:nth-child(196) {
  --i: 196;
  --r1: 0.164137931;
  --r2: -0.0751724138;
  --r3: 0.1434482759;
}
.box .dot:nth-child(197) {
  --i: 197;
  --r1: 0.2124137931;
  --r2: -0.1137931034;
  --r3: -0.2537931034;
}
.box .dot:nth-child(198) {
  --i: 198;
  --r1: -0.3386206897;
  --r2: 0.2717241379;
  --r3: 0.2496551724;
}
.box .dot:nth-child(199) {
  --i: 199;
  --r1: -0.164137931;
  --r2: 0.2920689655;
  --r3: -0.1872413793;
}
.box .dot:nth-child(200) {
  --i: 200;
  --r1: 0.0820689655;
  --r2: -0.0510344828;
  --r3: 0.0924137931;
}

/*# sourceMappingURL=main.css.map */
