pre {
  background-color: #000;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 0.9em;
}

pre {
  background: var(--c-body-bg)
}

pre .comment {
  color: #75715E
}

pre .constant {
  color: #AE81FF
}

pre .storage {
  color: #66D9EF;
  font-style: italic
}

pre .string,
pre .comment.docstring {
  color: #E6DB74
}

pre .support.tag {
  color: #fff
}

pre .keyword {
  color: #F92672
}

pre .selector,
pre .storage.modifier.extends {
  color: #F92672
}

pre .inherited-class {
  font-style: italic
}

pre .operator,
pre .support.tag-name,
pre .entity.tag {
  color: #F92672
}

pre .entity,
pre .support.attribute,
pre .entity.attribute {
  color: #A6E22E
}

pre .entity.name.type,
pre .entity.name.struct {
  color: #fff
}

pre .support,
pre *[data-language="c"] .function.call {
  color: #66D9EF
}

pre .css-property,
pre .storage.function {
  font-style: italic
}

pre .variable.global,
pre .variable.class,
pre .variable.instance {
  color: #A6E22E
}

[data-language="html"] .support.operator,
.lang-html .support.operator,
.language-html .support.operator {
  color: #fff
}

[data-language="javascript"] .variable.super,
.lang-javascript .variable.super,
.language-javascript .variable.super {
  color: #66D9EF
}

[data-language="js"] .variable.super,
.lang-js .variable.super,
.language-js .variable.super {
  color: #66D9EF
}
