html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}

input, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app {
  display: grid;
  grid-template-areas:
    "brush"
    "canvas"
    "background"
    "tools";
  grid-template-rows: auto 1fr auto auto;
}

.color-menu {
  display: flex;
  justify-content: space-between;
  background: #eef;
}

.color-tools {
  display: flex;
}

.color-tools input {
  height: 32px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  background: #eef;
  outline: 0;
  padding: 0 10px;
}

.colors {
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
}

.colors input {
  flex-grow: 1;
  width: 0;
  flex-basis: 0;
  height: 32px;
  line-height: 32px;
  padding: 0;
  background: #eef;
}

.colors .jscolor {
  padding: 0 10px;
}

.canvas {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}

.background {
  display: flex;
}

.background .input {
  position: relative;
  flex-grow: 1;
  width: 0;
  flex-basis: 0;
  height: 32px;
  line-height: 32px;
  padding: 0;
}
.background .input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eef;
}

.buttons {
  display: flex;
}

.buttons input {
  flex-grow: 1;
  height: 32px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  background: #eef;
  outline: 0;
}
