!node_modules
node_modules/*

!node_modules/three
node_modules/three/*

!node_modules/three/src
node_modules/three/src/*
node_modules/three/src/**/*

!node_modules/three/src/lights
!node_modules/three/src/materials
!node_modules/three/src/objects
!node_modules/three/src/renderers
!node_modules/three/src/scenes

node_modules/three/src/lights/*.*
node_modules/three/src/materials/*.*
node_modules/three/src/objects/*.*
node_modules/three/src/renderers/*.*
node_modules/three/src/scenes/*.*
!node_modules/three/src/scenes/Scene.js
!node_modules/three/src/cameras/PerspectiveCamera.js
!node_modules/three/src/renderers/WebGLRenderer.js
!node_modules/three/src/geometries/BoxGeometry.js
!node_modules/three/src/materials/MeshBasicMaterial.js
!node_modules/three/src/materials/MeshPhongMaterial.js
!node_modules/three/src/objects/Mesh.js
!node_modules/three/src/lights/DirectionalLight.js
