.brett-waddle,
.brett-thumb {
  --ratio: calc(1092 / 521);
  position: relative;
  width: calc(70vh / 2);
  height: calc(var(--ratio) * calc(70vh / 2));
  pointer-events: none;
}

.brett-thumb {
  z-index: 2;
  visibility: hidden;
  background-image: url("../images/brett-thumb.png");
  margin-top: calc(var(--ratio) * calc(-70vh / 2));
  background-size: contain;
}

.brett-waddle > .shadow {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 50%;
  background-color: #d0c1aa;
  pointer-events: none;
}

.brett-waddle .sprite {
  @include sprite;
  will-change: background-image;
}
