@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Mali Regular'),
    local('Mali-Regular'),
    url('../fonts/mali.woff2') format('woff2');
}
