html {
	background-color: #0a1825;
}

body {
	background-color: #162533;
	color: #a8bcce;
}

a {
	color: #4192bb;
}

h4 {
	border-bottom: 1px solid #486c8e;
}

.font-sectionHead {
	color: #d64c50;
}

.job-company {
	color: #a8bcce;
}

.job-title {
	color: #d64c50;
}

.font-body:empty::after {
	color: #486c8e;
}

.font-subtle {
	color: #486c8e;
}
