:root {
  --hsl-background-primary: 0, 0%, 0%;
  --hsl-background-secondary: 0, 0%, 7%;
  --hsl-background-inverted: 0 0% 100%;
  --hsl-background-highlight: 252 87% 55%;
  --image-background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");

  --hsl-spotify-green: 141 76% 48%;

  --hsl-t-primary: 0, 0%, 100%;
  --hsl-t-secondary: 0, 0%, 65%;
  --hsl-t-inverted: 0, 0%, 0%;
}
