.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--p-s);

  label {
    --o-bg: 0.1;
    font-size: var(--f-s-p);
    font-weight: var(--f-w-p);
    display: flex;
    gap: var(--p-s);
    padding: var(--p-s);
    transition: 200ms;
    transition-property: background-color, color;
    cursor: pointer;
    border-radius: 9999px;
    background-color: hsl(var(--hsl-background-inverted) / var(--o-bg));

    &:where(:has(:focus)) {
      box-shadow: 0 0 0 2px hsl(var(--hsl-t-inverted));
    }
    &:where(:has(:checked)) {
      --o-bg: 1;
      color: hsl(var(--hsl-t-inverted));
    }
    &:where(:hover) {
      --o-bg: 0.2;
    }
    &:where(:has(:checked):hover) {
      --o-bg: 0.8;
    }
    &:where(:active) {
      --o-bg: 0.07;
      color: hsl(var(--hsl-t-secondary));
    }
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
  }

  label span::first-letter {
    text-transform: capitalize;
  }
}
