:root {
  --b-r: 8px; /* border-radius */

  --p-m-i: 16px; /* paddding inline */
  --p-m-b: 8px; /* padding block */
  --p-m: var(--p-m-b) var(--p-m-i);

  --p-s-i: 12px; /* paddding inline */
  --p-s-b: 4px; /* padding block */
  --p-s: var(--p-s-b) var(--p-s-i);
}
