.text-input {
  display: grid;
  grid-template:
    [label-start]
    "input input" auto
    [label-end]
    "input input" 1fr
    / [label-start] auto [label-end] 1fr;

  border-radius: 9999px;
  border: 0;
  padding: var(--p-m);
  background-color: hsl(var(--hsl-background-inverted) / 0.1);
  box-shadow: 0 0 0 0 hsl(var(--hsl-background-inverted) / 0);
  transition: box-shadow var(--d-medium);

  &:hover {
    box-shadow: 0 0 0 1px hsl(var(--hsl-background-inverted) / 0.2);
  }

  &:has(:focus) {
    box-shadow: 0 0 0 2px hsl(var(--hsl-background-inverted));
  }

  span {
    grid-area: label;
    font-size: var(--f-s-p);
    line-height: var(--f-s-p);
  }

  input {
    grid-area: input;
    padding-top: var(--f-s-p);
    font-size: var(--f-s-h3);
    line-height: var(--f-s-h3);

    &::placeholder {
      color: hsl(var(--hsl-t-secondary));
    }
  }
}
